/*Contenu principal*/
/*Facture*/
.infos-item-panier{
    height: 120px;
    width: 50%;
}

.image-film > img {
    height: 97%;
    width: 100%;
}

.image-film {
    width: 15%;
}

#infos-pt1{
    width: 50%;
}

/*Formulaire*/


.infos-facture {
    width: 25%;
}

/*Bouton payer et annuler*/
.boutons-decision{
    width: 25%;
}
